
.icon-watering:before { content: '\e800'; } /* '' */
.icon-light:before { content: '\e801'; } /* '' */
.icon-temperature:before { content: '\e802'; } /* '' */
.icon-ic-pin:before { content: '\e803'; } /* '' */
.icon-ic-mail:before { content: '\e805'; } /* '' */
.icon-ic-phone:before { content: '\e806'; } /* '' */
.icon-arrow:before { content: '\e807'; } /* '' */